body {
    background-size: cover;
    background: rgb(63,251,154);
    background: radial-gradient(circle, rgba(63,251,154,1) 0%, rgba(70,209,252,1) 100%);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 70px;
    font-weight: bold;
    box-shadow: black 5px;
}

#snap {
    background-color: violet;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    size: 55px;
}

#snap:hover {
    background-color: blueviolet;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}